#header {
  background: url(https://images.unsplash.com/photo-1477948879622-5f16e220fa42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1vdW50YWluJTIwcmFuZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60) center center / cover no-repeat ;
}
body{
  background-color: gainsboro;
}
#login-status, #header2, #header3,#filter,#instr, #submit-btn,#cancel-btn  {
  color: royalblue;
}

th,#label-un, #label-password, .card-title {
  color: rgb(235, 132, 14);
}

#success-messages {
  font-size:xx-large;
  margin-top: 2%;
  margin-left: 10%;
  color: rgb(92, 240, 6);
}

.display-3{
  color:rgb(0,0,0);
  align-items: center;
  margin-top: 2%;
  margin-inline: 10%;
}

.lead{
  color:rgb(0,0,0);
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#ffb700, #38ef5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
