#login-status, #header2, #header3,#filter,#instr, #submit-btn  {
  color: royalblue;
}

th,#label-un, #label-password, .card-title {
  color: rgb(235, 132, 14);
}

#success-messages {
  font-size: large;
  margin-top: 2%;
  margin-left: 30%;
  color: greenyellow;
}

.intro h1{
  color: aqua;
  align-items: center;
  margin-top: 2%;
  margin-inline: 10%;
}

.intro p {
  color: yellowgreen
}
