#login-status, #header2, #header3,#filter,#instr, #submit-btn  {
  color: royalblue;
}

th,#label-un, #label-password, .card-title {
  color: rgb(235, 132, 14);
}

#success-messages {
  margin-top: 5%;
  margin-left: 30%;
  color: greenyellow;
}
